{
  "root":true,
  "env":{
    "browser":true,
    "jest":true,
    "node":true,
    "es6":true
  },
  "globals":{
    "Atomics":"readonly",
    "SharedArraybuffer":"readonly"
  },
  "settings":{
    "react":{
      "pragma":"React",
      "version":"detect"
    }
  },
  "extends":[
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "plugins":[
    "react",
    "prettier"
  ],
  "parserOptions":{
    "ecmaFeatures":{
      "jsx":true
    },
    "ecmaVersion":12,
    "sourceType":"module"
  },
  "rules":{
    "no-plusplus":0,
    "react/prop-types":0,
    "import/extensions":0,
    "import/no-cycle":0
  }
}
