@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Poppins", "Montserrat", sans-serif !important;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	box-sizing: border-box;
}

li,
a {
	text-decoration: none;
}
