.slick-slide {
  opacity: 0.6;
  margin: auto;
  align-items: center;
}
.slick-active {
  opacity: 1;
}
.slick-slide img {
  height: 80%;
}
@media only screen and (max-width: 2000px) and (min-width: 1280px) {
  .slick-slide img {
    margin: 50px auto;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 960px) {
  .slick-slide img {
    margin: 40px auto;
  }
}
@media only screen and (max-width: 960px) and (min-width: 600px) {
  .slick-slide img {
    margin: 30px auto;
  }
}
@media only screen and (max-width: 600px) and (min-width: 380px) {
  .slick-slide img {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 380px) {
  .slick-slide img {
    margin: 20px auto;
    height: 60% !important;
  }
  .slick-active img {
    height: 80% !important;
  }
}

.slick-active img {
  height: 100%;
  margin: auto;
}
